In [6]:
import pandas as pd
#from geotools import distance2d, calculate_bearing_angle, dfPoint2LonLat
import numpy as np
import sumolib
import network
from cleandata import richdata
from geotools import dfPoint2LonLat

In [2]:
net1 = sumolib.net.readNet("../../sumo_iland_map/iland.net" ,withInternal=False)
mynet = network.Net()
mynet.importFromSumoNet(net1)

gps = pd.read_csv("../../GTFS/KoDa/gps_inside_island.csv",dtype={"trip_id":object,
                                                              "shape_id":object,
                                                              "route_id":object,
                                                             "vehicle_id":object,
                                                             "timestamp":int,
                                                             "direction_id":int,
                                                             "lat":float,
                                                             "lon":float,
                                                             "speed":float,
                                                             "bearing":int,
                                                             "inside":bool,
                                                             "trip_id _extended":object})

unique_trip = list(gps["trip_id_extended"].unique())

In [3]:
sample_gps = gps[gps["trip_id_extended"]==unique_trip[3300]].sort_values("timestamp").drop_duplicates()
sample_gps = sample_gps.reset_index(drop=True)
sample_gps

,vehicle_id,timestamp,trip_id,route_id,direction_id,lat,lon,speed,bearing,shape_id,inside,trip_id_extended
0,9031001001002650,1685948816,14010000630847520,9011001041300000,1,59.319756,18.075062,0.0,124,1014010000630609140,True,14010000630847520_0
1,9031001001002650,1685948818,14010000630847520,9011001041300000,1,59.319756,18.075062,0.0,124,1014010000630609140,True,14010000630847520_0
2,9031001001002650,1685948820,14010000630847520,9011001041300000,1,59.319756,18.075062,0.0,124,1014010000630609140,True,14010000630847520_0
3,9031001001002650,1685948822,14010000630847520,9011001041300000,1,59.319756,18.075062,0.0,124,1014010000630609140,True,14010000630847520_0
4,9031001001002650,1685948825,14010000630847520,9011001041300000,1,59.319756,18.075062,0.0,124,1014010000630609140,True,14010000630847520_0
...,...,...,...,...,...,...,...,...,...,...,...,...
349,9031001001002650,1685949588,14010000630847520,9011001041300000,1,59.313957,18.102425,13.3,93,1014010000630609140,True,14010000630847520_0
350,9031001001002650,1685949590,14010000630847520,9011001041300000,1,59.313938,18.102879,12.5,95,1014010000630609140,True,14010000630847520_0
351,9031001001002650,1685949592,14010000630847520,9011001041300000,1,59.313911,18.103291,11.9,98,1014010000630609140,True,14010000630847520_0
352,9031001001002650,1685949594,14010000630847520,9011001041300000,1,59.313858,18.103683,11.4,105,1014010000630609140,True,14010000630847520_0
353,9031001001002650,1685949596,14010000630847520,9011001041300000,1,59.313786,18.104057,11.7,113,1014010000630609140,True,14010000630847520_0

In [7]:
df  = richdata(sample_gps,mynet, alpha=.1)
df = dfPoint2LonLat(df, mynet)
df.head()

   id   timestamp  speed  bearing  stopindex        lon        lat
0   0  1685948816    0.0      0.0          1  18.075062  59.319756
1   0  1685948818    0.0      0.0          1  18.075062  59.319756
2   0  1685948820    0.0      0.0          1  18.075062  59.319756
3   0  1685948822    0.0      0.0          1  18.075062  59.319756
4   0  1685948825    0.0      0.0          1  18.075062  59.319756

In [9]:
df.merge(sample_gps, on="timestamp").to_csv("test.csv")

## The steps of the data riching and cleaning:
#### 1 - convert to x, y
#### 2 - remove outlier
#### 3 - smoothing vx and vy and update x,y
#### 4 - calculate bearing and speed
#### 5 - assing zero to speeds less than MINSPEED_FOR_MOVING
#### 6 - update bearings based on speeds less than MINSPEED_FOR_BEARING
#### 7 - assing stopindex and fix locations in stop cases

In [10]:
"""
MAX_SPEED_FOR_OUTLIER = 50

df1 = df.join(df.shift(-1).rename(columns={"timestamp":"timestamp2","x":"x2","y":"y2"}))
df1.at[df1.index[-1],"timestamp2"] = df1.iloc[-1]["timestamp"] + 1
df1.at[df1.index[-1],"x2"] = df1.iloc[-1]["x"]
df1.at[df1.index[-1],"y2"] = df1.iloc[-1]["y"]
df1["dist"] = df1.apply(lambda row: distance2d((row["x"],row["y"]),(row["x2"],row["y2"])), axis=1)
df1["dtime"] = df1.apply(lambda row: int(row["timestamp2"] - row["timestamp"]), axis=1)
df1["speed"] = df1.apply(lambda row: row["dist"]/row["dtime"], axis=1)
df2 = df1[df1["speed"]<MAX_SPEED_FOR_OUTLIER].reset_index(drop=True)
"""

'\nMAXSPEEDFORROUTLIER = 50\n\ndf1 = df.join(df.shift(-1).rename(columns={"timestamp":"timestamp2","x":"x2","y":"y2"}))\ndf1.at[df1.index[-1],"timestamp2"] = df1.iloc[-1]["timestamp"] + 1\ndf1.at[df1.index[-1],"x2"] = df1.iloc[-1]["x"]\ndf1.at[df1.index[-1],"y2"] = df1.iloc[-1]["y"]\ndf1["dist"] = df1.apply(lambda row: distance2d((row["x"],row["y"]),(row["x2"],row["y2"])), axis=1)\ndf1["dtime"] = df1.apply(lambda row: int(row["timestamp2"] - row["timestamp"]), axis=1)\ndf1["speed"] = df1.apply(lambda row: row["dist"]/row["dtime"], axis=1)\ndf2 = df1[df1["speed"]<MAXSPEEDFORROUTLIER].reset_index(drop=True)\n'

In [131]:
import numpy as np
from scipy.stats import gaussian_kde

def kernel_density_smoothing(data, bandwidth):
    kde = gaussian_kde(data, bw_method=bandwidth)
    smoothed_data = kde(data)
    return smoothed_data

# Example usage
original_data = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90])
bandwidth = 3.0
smoothed_data = kernel_density_smoothing(original_data, bandwidth)
print(smoothed_data)

[0.00415553 0.00435524 0.00450371 0.0045952  0.00462611 0.0045952
 0.00450371 0.00435524 0.00415553]

In [136]:
import numpy as np
from scipy.ndimage import convolve1d

def convolution_smoothing(data, window_size):
    window = np.ones(window_size) / window_size
    smoothed_data = convolve1d(data, window, mode='nearest')
    return smoothed_data

# Example usage
original_data = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90])
window_size = 3
smoothed_data = convolution_smoothing(original_data, window_size)
print(smoothed_data)

[13 20 30 40 49 60 70 80 86]